* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.add-product-form {
  width: 100%;
}

.border-bottom {
  border-bottom: 2px solid #F6BC8C;
  border-top: none;
}